/* EditBookingPage.css */

.edit-booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .edit-booking-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: black;
  }
  
  .booking-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .booking-info {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .info-label {
    font-weight: bold;
    color: #333;
  }
  
  .info-value {
    color: #555;
    font-style: italic;
  }
  
  .loading-text {
    color: #777;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  /* Button container to position below content */
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem; /* Adds space above buttons */
  }
  
  /* Button styles */
  .button {
    padding: 0.75rem 1.5rem;
    background-color: #694281; /* Dark violet color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3b1543; /* Slightly darker on hover */
  }
  